.cabecalho{
    display: flex;
    align-items: center;
    
}
.lista{
    display: flex;
    justify-content: center;
    text-align: right;
}
.cabecalho-logo{
    display: flex;
}
.lista item{
    margin-left: 30%;
    
}