body{
    background-color: aqua;
    font-size: 40px;
    color:blue;
}


.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.lista{
    display: flex;
    list-style-type: nome;
}

.cabecalho-logo{
    display: flex;
    
}

.lista-item{
    margin-left: 50px;
    padding: 0%;
}
.texto{
    margin-left: 50px;
}
