.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.lista{
    display: flex;
    list-style-type: nome;
}

.cabecalho-logo{
    display: flex;
    margin-right: 30px ;
}

.lista-item{
    margin-left: 50px;
    padding: 0%;
}
